//body{
//	min-height: 100vh;
//	background-color: #eaeaea;
//	font-family: Futura, Open Sans, Raleway, sans-serif;
//	white-space: nowrap;
//	padding-top: 100px;
//}

.terminal-picture {
	max-width: 1200px;
	margin: auto;
}

.frame{
	display: inline-block;
	vertical-align: middle;
	margin: 40px 0 100px 150px;
	padding: 30px;
	border: 10px solid #efefef;
	background-color: #eaeaea;
	position: relative;
	transition: .3s ease;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.3),
			  1px 1px 2px rgba(0,0,0,.2),
			  40px 35px 70px -10px rgba(0,0,0,.5),
			  -20px -20px 100px -10px rgba(255,255,255,.8);

	// Glass reflection
	&:before{
		content:" ";
		left: 30px;
		top: 30px;
		bottom: 30px;
		right: 30px;
		position: absolute;
		background: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,0) );
		transition: .3s ease;
	}
	&:hover{
		&:before{
			opacity: 0;
		}
	}

	img{
		box-shadow: 0 0 2px rgba(0,0,0,.1);
	}

	&.red{
		border: 10px solid #A52F2F;
		margin-left: 150px;
		box-shadow: 	inset 1px 1px 3px rgba(0,0,0,.3),
			  		1px 1px 2px rgba(0,0,0,.2),
			  		40px 35px 70px -10px rgba(0,0,0,.5),
			  		-20px -20px 100px -10px rgba(#A52F2F,.3);
	}

	&.black{
		border: 10px solid #333;
		box-shadow: 	inset 1px 1px 3px rgba(0,0,0,.3),
			  		1px 1px 2px rgba(0,0,0,.2),
			  		40px 35px 70px -10px rgba(0,0,0,.5),
			  		-20px -20px 100px -10px rgba(#333,.2);
	}

	&.thick{
		border-width:30px;
	}

	figcaption{
		position: absolute;
		top: 100%;
		margin-top: 50px;

		h2, span{
			transform: translateY(-30px);
			opacity: 0;
			transition: .3s ease;
		}

		h2{
			margin: 0;
		}
		span{
			color: #555;
			transition-delay: .2s;
		}
	}

	&:hover{
		transform: scale(1.1);
		figcaption{
			h2,span{
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}